.permanent-clients {
	padding-top: 94px;
	padding-bottom: 94px;
}
.permanent-clients-flex {
	display: flex;
}
.permanent-clients-logo1 {
	width: 45px;
	height: 50px;
	fill: #afb1b8;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.permanent-clients-logo2 {
	width: 40px;
	height: 52px;
	fill: #afb1b8;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.permanent-clients-logo3 {
	width: 41px;
	height: 43px;
	fill: #afb1b8;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.permanent-clients-logo4 {
	width: 80px;
	height: 42px;
	fill: #afb1b8;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.permanent-clients-logo5 {
	width: 53px;
	height: 47px;
	fill: #afb1b8;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.permanent-clients-logo6 {
	width: 89px;
	height: 45px;
	fill: #afb1b8;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.permanent-clients-li {
	&:hover {
		.permanent-clients-logo1 {
			fill: $accent-color;
			transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
		}
		.permanent-clients-logo2 {
			fill: $accent-color;
			transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
		}
		.permanent-clients-logo3 {
			fill: $accent-color;
			transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
		}
		.permanent-clients-logo4 {
			fill: $accent-color;
			transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
		}
		.permanent-clients-logo5 {
			fill: $accent-color;
			transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
		}
		.permanent-clients-logo6 {
			fill: $accent-color;
			transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
		}
		background-color: $bg-color;
		border: 1px solid $accent-color;
		transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	width: 170px;
	height: 90px;
	border: 1px solid #afb1b8;
	box-sizing: border-box;
	border-radius: 4px;
	margin-right: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:focus {
		background-color: $bg-color;
		border: 1px solid $accent-color;
		transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
}
