$accent-color: #2196f3;
$text-color: #757575;
$bg-color: white;
$dark-bg-color:#2f303a;
$title-color: black;
$icon-color: #afb1b8;
$grey-bg-color:#f5f4fa;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);